 #map {
     height: 700px;
     width: 100%;
 }
 
 #picture {
     background-image: url('./services.png');
     background-repeat: no-repeat;
     background-size: 100%;
     background-attachment: fixed;
 }
 
 #test {
     background-image: url('services.png');
 }