 #map {
     height: 700px;
     width: 100%;
 }
 
 #main {
     background-image: url("Services2.jpeg");
     height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }