 #map {
     width: 100%;
     height: 100%;
 }
 
 #mapColumn {
     border-width: 2px;
     border-style: solid;
 }
 
 #formColumn {
     background-image: url('./services.png');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     border-width: 3px;
     border-style: solid;
     padding-left: 2px;
 }
 
 #search {
     background-color: orange;
 }
 
 #listColumn {
     background-image: url('./map.png');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     border-width: 2px;
     border-style: solid;
     background-color: lightcoral;
 }
 
 h5 {
     color: white;
 }
 
 .input1 {
     padding: 2px;
 }